@import "tailwindcss";

body {
  margin: 0;
}
/* Tap-Highlight auf Mobile komplett entfernen */
html,
body {
  -webkit-tap-highlight-color: transparent;
}

/* Kein Outline / Focus-Rand, auch nicht auf SVG/Chart */
*:focus {
  outline: none !important;
  box-shadow: none !important;
}

svg,
svg * {
  outline: none !important;
}
